<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="{% static 'stick-footer.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">


    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
              <div class="col-sm">
              <img src="{% static "img/logo.png" %}" alt="My image" style="height: 50px; weight:150px">
           
                <p>Olá</p>
                <a href="#" class="btn btn-info">Sair</a>
         
                <a href="#" class="btn btn-primary">Entrar</a>
          
        </div>
           </div>

       </div>
      </div>
    <div class="container">
        <div class="jumbotron">


            {% block main %}


            {% endblock%}
        </div>

    </div>
    {% block footer%}

    {% endblock %}
</body>
</html>